<p-dialog header="Вопрос" [(visible)]="display" modal="modal" minWidth="400" >
  <div *ngIf="selectedRow">
    <p [innerHTML]="selectedRow.question"></p>
  </div>
  <div *ngIf="answerVisible">
    <h4>Ответ</h4>
    <pre [innerHTML]="selectedRow.answer"></pre>
  </div>
  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="getAnswer()" label="{{answerVisible ? 'hide' : 'show'}}"></button>
    <button type="button" pButton icon="fa-check" (click)="answerVisible=false; getNext()" label="next"></button>
    <button type="button" pButton icon="fa-close" (click)="display=false; answerVisible=false" label="close"></button>
  </p-footer>
</p-dialog>

<button type="button" (click)="showDialog()" pButton icon="fa-external-link-square" label="START"></button>
